<div class="mx-auto text-center col-xl-6">
  <div class="container">
      <h2 class="d-none">Seleccione el número de ganadores</h2>
      <p>Ingrese el número de ganadores que desea seleccionar del número total de concursantes, haga clic en barajar y luego en ver ganador</p>
      <small class="text-secondary">Contestants Data gotten from Google Sheets</small>
      <div class="border rounded-lg p-3 m-3 p-md-5">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="selectmode">
            <h3 class="text-nowrap"><i class="fas fa-users"></i> {{contestants?.length}}</h3>
            <div class="form-group">
                <Label for="numberOfWinners">Ingrese el número de ganadores</Label>
                <div class="mx-auto">
                  <input [(ngModel)]="numberOfWinners" class="form-control mb-3" type="number" name="numberOfWinners" id="numberOfWinners" placeholder="Número de ganadores"
                  required #numberOfWinnersField="ngModel">
                  <button type="submit" class="btn btn-primary w-100">Generar</button>
                  <p><small [hidden]='!form.submitted || numberOfWinnersField.valid'
                    class="text-danger">
                        {{'Por favor ingrese el número de ganadores.'}}
                    </small><br/>
                    <small class="text-danger" [hidden]='!err'>
                      {{err}}
                    </small></p>
                </div>
            </div>
          </form>
          <div *ngIf="!selectmode">
            <P>Seleccionaste <strong>{{numberOfWinners}}</strong> ganadores de <strong>{{contestants.length}}</strong> participantes</P>
            <p class="text-secondary"> Haga clic en el botón de abajo para ver a los ganadores.</p>
            <app-modal [contestants]="contestants" [winnersArray]="winnersArray"></app-modal>
            <button class="btn btn-lg btn-secondary m-2" (click)="back()">Atras</button>
          </div>
      </div>
      <hr/>
      <div class="mt-5">
          <small>Created by <a href="http://www.godwinagedah.com.ng">Godwin Agedah</a></small>
          <p class='small'>Built with React <i class="fab fa-react"></i>, Netlify Functions and Google sheets API</p>
      </div>
  </div>
</div>
